@media (max-width: 768px) {
    .section3index img {
    width: 300px;
    }
    .instalaciones img{
        width: 500px;
    }
    .reparaciones img{
        width: 500px;
    }
    .garantia img{
        width: 500px;
    }
    .video{
        width: 300px;
    }
    .imgvigilancia img{
        width: 400px;
    }
    .sectionreparacion img{
        width: 300px;
    }
    .sectiontecnico img{
        width: 300px;
    }
    }

    @media (max-width: 425px) {
        .section3index img {
        width: 300px;
        }
        .instalaciones img{
            width: 300px;
        }
        .reparaciones img{
            width: 300px;
        }
        .garantia img{
            width: 300px;
        }
        .imgvigilancia img{
            width: 300px;
        }
        .sectionreparacion img{
            width: 300px;
        }
        .sectiontecnico img{
            width: 300px;
        }
        .sectioncontacto{
            width: 350px;
        }
        .video2{
            width: 300px;
        }
        }