$color-primario: #00fca8;

$color-secundario: rgb(2, 100, 31);

$color-blanco: white;

$transition-main: 3s;

$transition-footer: 1s;

$tipografia-general: sans-serif;




$tamaño:(
    300: 300px,
    400: 400px,
    500: 500px,
);

$estilos:(
    centro: center,
)